:root {
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}



/*
inicio header
*/
.hdr {
  font-family: 'Alumni Sans Inline One', cursive;
  font-weight: bold;
  width: 100%;
  background: #000;
  min-height: 3em;
}

.hdrmenu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 90%;
}

.hdrmenu a {
  color: #01F000;
  padding: 1em;
  text-decoration: none;
}

.hdrmenu a:hover {
  color: orange;
  text-decoration: underline;
}

/*
fim header 
*/

/*
inicio main historia 
*/
.historia {
  background: linear-gradient(90deg, #0E185F, #1d219e, #332FD0, #000);
  color: #ffff;
  text-align: justify;
  border: solid 2px #FFFF;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1em;
}

.historia p {
  width: 100%;
}

.title {
  font-weight: 400;
  font-size: 2em;
  text-align: center;
}

.picture-and-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ref-info {
  text-align: center;
}

.art-img {
  width: 50%;
  border-radius: 1em;
  padding: 0.5em;
}

.art-img:hover {
  opacity: 50%;
}

.video {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em auto;
  width: 50%;
  min-height: 480px;
}

.link {
  text-decoration: none;
  color: #01F000;
}

.link:hover {
  color: orange;
}

/*
fim main historia
*/

/*
inicio main hardwares 
*/
.hardwares {
  background: linear-gradient(90deg, #000, #1d219e, #332FD0, #345f0e);
  color: #ffff;
  text-align: justify;
  border: solid 2px #FFFF;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1em;
  box-sizing: border-box;
  min-width: 200px;
}

.art {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.picture_and_text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ref_info {
  text-align: center;
}

.art_img {
  width: 50%;
  border-radius: 1em;
  padding: 0.5em;
}

.art_img:hover {
  opacity: 50%;
}

/*
fim main hardwares 
*/

/*
inicio main softwares
*/
.softwares {
  background: linear-gradient(90deg, #345f0e, #23410a, #030501);
  color: #ffff;
  text-align: justify;
  border: solid 2px #FFFF;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1em;
  box-sizing: border-box;
  min-width: 200px;
}

.art {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.picture_and_text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ref_info {
  text-align: center;
}

.art_img {
  width: 50%;
  border-radius: 1em;
  padding: 0.5em;
}

.art_img:hover {
  opacity: 50%;
}

/*
fim main softwares 
*/

/*
inicio main mobile page
*/
.mobile {
  background: linear-gradient(90deg,#030501, #a55f0f, #a9420f);
  color: #ffff;
  text-align: justify;
  border: solid 2px #FFFF;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1em;
  box-sizing: border-box;
  min-width: 200px;
}

.art {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.picture_and_text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ref_info {
  text-align: center;
}

.art_img {
  width: 50%;
  border-radius: 1em;
  padding: 0.5em;
}

.art_img:hover {
  opacity: 50%;
}

/*
fim main mobile page
*/


/*
inicio main mobile page
*/
.sobre {
  flex-wrap: wrap;
  background: linear-gradient(90deg, #a9420f,#a2491d, #ac5226, #dd7e4f);
  color: #ffff;
  min-height: 500px;
  text-align: justify;
  border: solid 2px #FFFF;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1em;
  box-sizing: border-box;
  min-width: 200px;
}

.ref_info {
  text-align: center;
}

.art_img {
  width: 50%;
  border-radius: 1em;
  padding: 0.5em;
}

.art_img:hover {
  opacity: 50%;
}

/*
fim main mobile page
*/