:root {
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

/*
inicio header
*/
.hdr {
  font-family: 'Alumni Sans Inline One', cursive;
  font-weight: bold;
  width: 100%;
  background: #000;
  min-height: 3em;
}

.hdrmenu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 90%;
}

.hdrmenu a {
  color: #01F000;
  padding: 1em;
  text-decoration: none;
}

.hdrmenu a:hover {
  color: orange;
  text-decoration: underline;
}
/*
fim header 
*/

/*
inicio main 
*/
.historia {
  background: linear-gradient(#0E185F, #1d219e, #332FD0);
  color: #ffff;
  text-align:justify;
  border: solid 2px #FFFF;
  background-size:cover;
  background-repeat: no-repeat;
  padding: 1em;
}

.historia p {
  width: 100%;
}

.title {
  font-weight: 400;
  font-size: 2em;
  text-align: center;
}

.picture-and-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ref-info {
  text-align: center;
}

.art-img {
  width: 50%;
  border-radius: 1em;
  padding: 0.5em;
}

.art-img:hover {
  opacity: 50%;
}

.video {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em auto;
  width: 50%;
  min-height: 480px;
}

.link {
  text-decoration: none;
  color: #01F000;
}

.link:hover {
  color: orange;
}
/*
fim main
*/